/*Your styles*/

body {
  margin: 10px;
}

#content {
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  background: no-repeat center/80% url(../img/times-circle-solid.svg);
}

.topcoat-search-input--large {
  padding-left: 2.6rem;
}

/*
These classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor {
}
.hostFontFamily {
}
.hostFontSize {
}

/*font family, color and size*/
.hostFont {
}
/*background color*/
.hostBgd {
}
/*lighter background color*/
.hostBgdLight {
}
/*darker background color*/
.hostBgdDark {
}
/*background color and font*/
.hostElt {
}

.hostButton {
  border: 1px solid;
  border-radius: 2px;
  height: 20px;
  vertical-align: bottom;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
